body {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
}

.main {
  padding: 25px;
  display: table-cell;
  vertical-align: middle;
}

.panel {
  width: 475px;
  height: 390px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightskyblue;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
}

.button-selected {
  background-color: lightsalmon;
  transition: .2s;
}

.button-transition {
  background-color: lightsalmon;
  transition: .05s;
}

/* .num {
  background-color: white;
} */

p {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

button {
  height: 50px;
  width: 100px;
  font-size: 25px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: initial;
  padding: 2px 6px 3px;
  transition: 1s;
  outline: none;
}

input {
  height: 80px;
  width: 412px;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
}

#b0 {
  width: 209px;
}

#clear {
  width: 318px;
}

/* There seems to be 4px of built-in padding between each button element in a row. */
